body {
    background: white;
    background-image: url("bg.jpg");
    text-align: center;
    margin: auto;
}

.container {
    background: rgb(2, 2, 44);
    text-align: center;
    border-radius: 20px;
    border: 2px solid #73AD21;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    height: 40vh
}

span {
    background: black;
    padding: 25px 32px;
    text-align: center;
    font-size: 50px;
    color: white;
    padding: 15px;
    width: 70px;
    height: 70px;
}

.button {
    background-color: Blue;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    }

    .h3{
        color: white;

    }